body {
  width: 100%;
  height: auto;
  background-image: url('fondo.jpg'); 
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
  margin: 0;
  padding: 0;
  font-family: "Roboto Mono", system-ui; 
}

header {
  background-color: 0;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: center;
}

header .contenedor {
  display: flex;
  align-items: center;
}

header a {
  text-decoration: none;
  color: white;
  margin: 0 10%;
  font-size: 20px; 
}

header input {
  padding: 5px;
  border: 0 solid #ccc;
  border-radius: 6px;
  width: 200px;
  background-color: rgba(255, 255, 255, 0.5);
  color: white;
  font-size: 20px; 
}

header input::placeholder {
  color: rgba(255, 255, 255, 0.9);
}

header input:focus {
  outline: none;
  border-color: #0000FF;
}

.titulo-juegos {
  color: white;
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
}

.contenedor-rectangulos {
  display: flex;
  justify-content: center;
  margin-bottom: 20%;
}

.rectangulos-verticales {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.rectangulo {
  position: relative; 
  width: 95%;
  height: 95%;
  background-color: white;
  margin: 10px;
  border-radius: 10px;
}

.overlay {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.rectangulo:hover .overlay {
  opacity: 1; 
}

.comprar-button {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #4b0082;
  padding: 17px 60px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.comprar-button span {
  position: relative;
  z-index: 1;
}

.comprar-button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #4716C7;
  transition: all 0.5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.comprar-button:hover:after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.rectangulo a img {
  width: 200%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px; 
}

.cuadro-morado {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  top: 50%;
  right: -70%;
  transform: translate(50%, -50%);
  width: 110%;
  height: 100%;
  object-fit: cover;
  background-color: rgba(128, 0, 128, 0.5); /* Morado con transparencia */
  border-radius: 10px;
}

.info-box {
  color: rgb(233, 221, 221);
  border-radius: 7px;
  margin-bottom: 10px; /* Espacio entre cada recuadro */
  padding: 10px; /* Espaciado interno */
  display: flex;
  align-items: center;
}

.info-box span {
  margin-right: 10px; /* Espacio entre el texto y el recuadro */
}

.infoentrega {
  color: rgb(233, 221, 221);
  border-radius: 7px;
  margin-bottom: 10px; /* Espacio entre cada recuadro */
  padding: 10px; /* Espaciado interno */
  display: flex;
  align-items: center;
}

.infoentrega span {
  margin-right: 10px; /* Espacio entre el texto y el recuadro */
}

.entrega-texto {
   display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Espacio entre la imagen y los botones */
  color: rgb(233, 221, 221);
  margin-top: 15px; /* Espacio entre los recuadros y el texto de entrega */
  margin-bottom: 10px;
  padding: 10px;
  font-size: 25px;
}

.entrega-texto span {
  font-weight: bold; /* Hace que el texto "Entrega:" sea más prominente */
  margin-right: 10px; /* Espacio entre el texto y el párrafo */
}

.linea {
  border-top: 1px solid white; /* Línea horizontal blanca */
  margin: 10px 0; /* Espacio arriba y abajo */
}

.metodos-pago-texto {
  display: flex;
  align-items: center;
}

.opciones-pago {
  display: flex; /* Usar flexbox para alinear en una fila */
  justify-content: center; /* Centrar horizontalmente */
  margin-top: 2%; /* Espacio entre los campos de entrada y los botones */
}

.boton-pago {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
  padding: 10px 20px;
  margin-bottom: 80px; /* Espacio entre los botones */
  cursor: pointer;
}

.imagen-pago {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px; /* Espacio entre la imagen y los botones */
}

.imagen-pago input[type="file"] {
  display: none; /* Oculta el input de tipo archivo */
}

.imagen-pago img {
  width: 100px; /* Tamaño de la imagen */
  height: auto;
  border: 1px solid #000000;
  display: block;
  margin-bottom: 2px; /* Espacio entre la imagen y los botones */
  cursor: pointer;
}

.imagen-pago label {
  cursor: pointer;
}

.boton-pago:hover {
  background-color: #7700ff;
  color: #ffffff;
  
}

footer {
  background-color: 0;
  color: white;
  text-align: center;
  padding: 10px;
}

footer .footer-text {
  margin: 0;
}

footer .footer-text a {
  color: #ffffff;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

footer .footer-text a:hover {
  text-decoration: none;
}

#scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 50%;
  background-color: #4b0082;
  color: white;
  width: 50px;
  height: 50px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

#scroll-to-top:hover {
  background-color: black;
}

.cuadrados {
  position: absolute; 
  top: 10%; 
  right: 10%; 
  display: flex; 
}

.cuadrado {
  width: 30px;
  height: 30px;
  border: 0px solid white;
  margin-left: 10px; 
  cursor: pointer;
}

.icono-cuadrado {
  width: 30px; 
  height: 30px; 
}

.store-cuadrado .rectangulo {
  display: none;
  position: absolute;
  top: 25px;
  right: 0px; 
  width: 300px; 
  height: 800px; 
  background-color: rgba(75, 0, 130, 0.8);
  border-radius: 10px; /* Bordes curvos */
  padding: 20%; 
  color: black; 
  font-size: 16px; 
  z-index: 999; 
}

.store-cuadrado .rectangulo h3 {
  background-color: #800080; /* Color morado */
  color: white;
  text-align: center;
  padding: 5px 0; /* Espaciado interno */
}

.toggle-checkbox {
  display: none;
}

.toggle-checkbox:checked + .rectangulo {
  display: block;
}

.store-cuadrado label {
  cursor: pointer;
}

/* Estilos para el contenedor de cada juego en el rectángulo de la tienda */
.juego-container {
  margin-bottom: 20%; /* Espacio entre cada juego */
  position: relative; /* Asegura que los elementos absolutamente posicionados se ubiquen correctamente */
}

/* Estilos para la barra de cantidad */
.cantidad-input {
  padding: 5px;
  border: 0 solid #ccc;
  border-radius: 6px;
  width: 50px; /* Ancho de la barra de cantidad */
  background-color: rgba(255, 255, 255, 0.5); /* Color de fondo con opacidad */
  color: white; /* Color del texto */
  font-size: 20px; /* Tamaño del texto */
  margin-left: 10px; /* Margen izquierdo para separarlo de la imagen del juego */
}

.cantidad-input:focus {
  outline: none;
  border-color: #0000FF; /* Color del borde al enfocar */
}

/* Estilos para el botón de eliminación */
.eliminar-button {
  border: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 5px;
}

.eliminar-button:hover {
  color: red;
}
.button_slide {
  color: white;
  background-color: #4b0082; /* Nuevo color de fondo */
  border: 2px solid rgb(71, 22, 199);
  border-radius: 0px;
  padding: 17px 60px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #4716C7;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slide_down:hover {
  box-shadow: inset 0 100px 0 0 #4716C7;
}

/* Ajusta la posición vertical según sea necesario */
#comprar-todos {
  position: absolute; /* Ajusta la posición absoluta */
  bottom: 2px; /* Distancia desde la parte inferior de la ventana */
  right: 60px; /* Distancia desde el borde derecho de la ventana */
}

/* Estilos para el botón "Ver más" */
.ver-mas-button {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #4b0082;
  padding: 17px 60px;
  margin: 0 auto;
  border-radius: 6px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.ver-mas-button span {
  position: relative;
  z-index: 1;
}

.ver-mas-button:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: #4716C7;
  transition: all 0.5s ease-in-out;
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.ver-mas-button:hover:after {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);



  .boton-pago {
    background-color: #ffffff;
    border: 1px solid #000000;
    color: #000000;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .boton-pago:hover {
    background-color: #7700ff;
    color: #ffffff;
  }
  
  #comprar-todos {
    position: absolute;
    bottom: 20px; /* Ajusta la posición según sea necesario */
    right: 20px; /* Ajusta la posición según sea necesario */
  }

  
  .confirmacion {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgb(255, 254, 254);
    max-width: 600px;
    margin: 50px auto;
}

.contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenedor a, .contenedor input {
    margin: 0 10px;
}

.contenedor input {
    padding: 5px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.footer-text a {
    margin: 0 10px;
}

.button_slide {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 20px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button_slide:hover {
    background-color: #0056b3;
}

#scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    font-size: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

#scroll-to-top:hover {
    background-color: #0056b3;
}

.texto-blanco {
  color: white; /* Cambia el color del texto a blanco */
}

.opciones-pago {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
}

.opciones-pago form {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 60px;
  border-radius: 20px;
  width: 350px;
}

.opciones-pago label {
  display: block;
  margin-bottom: 5px;
  color: #4b0082;
}

.opciones-pago input, .opciones-pago select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.boton-pago {
  background-color: #4b0082;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.boton-pago:hover {
  background-color: #4716C7;
}


}
