<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>JuegosTop</title>
  <style>
    body {
      background-color: #043945;
      color: #fff;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    nav {
      text-align: center;
      margin-top: 20px;
    }
    nav ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center; /* Alinea horizontalmente */
    }
    nav ul li {
      margin-right: 10px;
    }
    nav ul li button, .search-bar {
      background-color: #338598;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      padding: 7px 10px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    .search-bar::placeholder {
      color: #fff; /* Cambiar el color del placeholder */
    }
    .image-placeholder {
      width: 827px;
      height: 415px;
      background-size: cover;
      margin: 0 auto;
      text-align: right;
      margin-top: 20px;
    }
    .image-container {
      display: flex;
    }
    .image-container img {
      width: 302px;
      height: 75px;
    }
    header::after {
      content: "";
      display: table;
      clear: both;
    }
    .home-button {
      position: fixed;
      bottom: 20px;
      right: 20px;
      background-color: #338598;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      padding: 10px 20px;
      border-radius: 5px;
    }
    .footer {
      text-align: center;
      margin-top: 20px;
    }
    .footer button {
      background-color: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
      font-size: 16px;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 0 5px;
      text-decoration: underline;
    }
    .flex-container {
      display: flex;
      align-items: right; 
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><button>Inicio</button></li>
        <li><button>Juegos</button></li>
        <li><button>Reviews</button></li>
        <li class="flex-container">
            <input type="text" name="q" class="search-bar" placeholder="Buscar..." onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }">
          </form>
        </li>
      </ul>
    </nav>
  </header>
  <div class="image-container">
    <div class="image-placeholder" style="background-image: url('https://acortar.link/CaaJ27');"></div>
    <aside>
      <h2>Top games</h2>
      <img src="https://i.blogs.es/dfbccc/trucosgtavps4/1366_521.jpg" alt="Imagen de tamaño W500xH75">
    </aside>
  </div>
  <h1 style="color: #fff; text-align: left;">ARTÍCULOS</h1>
  <main>
    <section>
      <article>
        <div class="image-placeholder" style="background-image: url('https://img2-levelup.buscafs.com/835040/835040.png');"></div>
        <h3 style="text-align: center;">Nintendo Switch 2: Los posibles juegos de lanzamiento para la consola</h3>
      </article>
      <article>
        <div class="image-placeholder" style="background-image: url('https://c4.wallpaperflare.com/wallpaper/379/562/484/pyramid-head-artwork-video-games-silent-hill-wallpaper-preview.jpg');"></div>
        <h3 style="text-align: center;">Silent Hill 2: ¿A quién le hablan Konami y Bloober?</h3>
      </article>
      <article>
        <div class="image-placeholder" style="background-image: url('https://i0.wp.com/xxboxnews.blob.core.windows.net/prod/sites/4/2KSMKT_WWE2K18_TITLED_HERO_ART_1920x1080-hero-hero.png?resize=940%2C528&ssl=1');"></div>
        <h3 style="text-align: center;">Previo: WWE 2K24 es un tributo a WrestleMania y al wrestling en general</h3>
      </article>
    </section>
  </main>
  <div class="footer">
    <button>Sobre Nosotros</button>
    <button>Contactenos</button>
    <button>Soporte</button>
  </div>
  <button class="home-button" onclick="window.scrollTo({ top: 0, behavior: 'smooth' });">&#9650;</button>
</body>
</html>